*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    -webkit-font-smoothing: antialiased;
}
body{
    background-color: #dbecfd;
    background-image: url('/static/images/bg-blue-light.png');
    background-size: cover;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    height: 1px;
    background-color: rgba(0,0,0,.12);
}
.nav-wrapper{
    padding: 0 16px;
}
.nav-logo{
    max-height: 32px;
    margin:16px 0;
}
.title{
    font-size: 3.25rem;
    font-weight: 500;
    color: #343a40 !important
}
.title-2{
    font-size: 2.875rem;
    font-weight: 500;
    color: #343a40 !important
}
.header-2{
    margin:1.75rem 0 .5rem 0;
    font-size: 1.25rem;
    font-weight: 300;
}
.header{
    margin: 1.75rem 0 .75rem 0;
    font-size: 1.3rem;
    font-weight: 300;
}
.info{
    margin-top:2.25rem;
    padding:1rem;
    min-height: 65vh;
}
.info.bg{
    background-color: rgba(255, 255, 255, 0.9);
}
.info p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.429;
}
/* -- footer --*/
.container-fluid{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container-fluid:after,.container-fluid:before{
    content: " ";
    display: table
}

.container-fluid:after{
    clear: both
}
.quick-links{
    margin-top:2rem;
}
.quick-links h6{
    font-weight: 500;
    color:rgb(55,55,65) !important;
}
#footer {
    color:#2f2f2f;
    margin-left: 0px;
    transition: margin-left 0.2s;
}
#footer .footer-logo{
    height:35px;
    vertical-align: middle
}
#footer .footer-text{
    font-family: monospace, monospace;
    color:#2f2f2f;
    display: inline-block;
    vertical-align: middle;
    line-height: 3;
    margin-left:3px;
}
.info-icon{
    margin-right: 3px;
    margin-left: 3px;
    cursor: help;
    vertical-align: middle;
}
.v-align{
    display: inline-block;
    vertical-align: middle;
}





/*--- Media Stuff ---*/
@media screen and (max-width: 600px){
    .nav-logo{
        margin:12px 0;
    }
}