*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        -webkit-font-smoothing: antialiased;
}
*:before, .out-hero *:after {
    -webkit-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	min-height: 100vh;
}
.vam{
    vertical-align: middle;
}
.nav-wrapper{
    padding: 0 14px;
}
.nav-logo{
    max-height: 32px;
    margin:16px 0;
}
.hero{
	background: #6aa8ef;
	background-size: cover;
	background-position: center center;
	padding: 1.5rem 8px 4rem 8px;
}
.parallax-container .hero{
    background: transparent;
    padding: 2.5rem 8px 5rem 8px;
}
.main.parallax-container .hero{
    background: transparent;
    padding: 3rem 8px 6rem 8px;
}
.text-shadow{
	text-shadow: 0 0 8px rgba(32, 33, 36, .42);
}
.parallax-container {
    height: 100%;
}
hr{
    display: block;
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
}
hr.md{
    margin: 25px 0;
}
hr.lg{
    margin: 50px 0;
}
.side-img{
    display: block;
    max-width: 100%;
    margin-top:1rem;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
}
h1 .material-icons,h2 .material-icons,h3 .material-icons{
    font-size: inherit;
}
h1 span, h2 span, h3 span{
    display: inline-block;
    vertical-align: middle;
}

footer i{
    font-size: inherit!important;
    vertical-align: middle;
    color: rgba(255,255,255,0.7);
}



/* Media Stuff */
@media screen and (max-width: 600px){
    .nav-logo{
        margin:12px 0;
    }
}