*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        -webkit-font-smoothing: antialiased;
}
*:before, .out-hero *:after {
    -webkit-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	min-height: 100vh;
}
.nav-wrapper{
    padding: 0 14px;
}
.nav-logo{
    max-height: 32px;
    margin:16px 0;
}
.hero{
	background: #6aa8ef;
	background-size: cover;
	background-position: center center;
	padding: 1.5rem 8px 4rem 8px;
}
.parallax-container .hero{
    background: transparent;
    padding: 2.5rem 8px 5rem 8px;
}
.main.parallax-container .hero{
    background: transparent;
    padding: 3rem 8px 6rem 8px;
}
.text-shadow{
	text-shadow: 0 0 8px rgba(32, 33, 36, .42);
}
.parallax-container {
    height: 100%;
}



/* Media Stuff */
@media screen and (max-width: 600px){
    .nav-logo{
        margin:12px 0;
    }
}